<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMapAPIKey</key>
	<string>YOUR_AMAP_KEY</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>寻梦环游</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DeepSeekAPIKey</key>
	<string>YOUR_DEEPSEEK_API_KEY</string>
	<key>DeepSeekAPIBaseURL</key>
	<string>https://api.deepseek.com/v1/chat/completions</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>寻梦环游需要使用相机拍摄回忆照片</string>
	<key>NSContactsUsageDescription</key>
	<string>需要访问通讯录以添加紧急联系人</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>寻梦环游需要访问位置以在地图上标记回忆地点</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>寻梦环游需要使用麦克风来记录您的语音回忆</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>寻梦环游需要访问相册以选择回忆照片</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>寻梦环游需要使用语音识别服务进行回忆记录</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>VoiceCloneAPIKey</key>
	<string>YOUR_VOICECLONE_API_KEY</string>
	<key>VolcEngineAppID</key>
	<string>YOUR_VOLCENGINE_APP_ID</string>
	<key>VolcEngineAppKey</key>
	<string>YOUR_VOLCENGINE_APP_KEY</string>
	<key>VolcEngineAppToken</key>
	<string>YOUR_VOLCENGINE_APP_TOKEN</string>
</dict>
</plist>
